<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">

  <div class="item item-divider">
    Futebol
  </div>

  <a class="item" href="#">
    Corinthians
  </a>
  <a class="item" href="#">
    Santos
  </a>
  <a class="item" href="#">
    Palmeiras
  </a>
  <div class="item item-divider">
    Música
  </div>
  <a class="item" href="#">
    Sertanejo
  </a>
  <a class="item" href="#">
    Eletrônica
  </a>
  <a class="item" href="#">
    Samba
  </a>
  <button class="button button-small button-assertive">
    Botão curto
  </button>
  <button class="button button-large button-positive">
    Botão Largo
  </button>
  <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
  </div>
  </ion-content>
</ion-view>
